*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-gallery {
  padding: 10px;
}

.fullview {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.fullview img {
  width: 100%;
  height: 80vh;
}


.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.preview li {
  list-style: none;
}